<div class = "navbar">
  <% if logged_in? %>
    <%=link_to 'Log out', logout_path, method: :delete, class: "link" %>
    <%=link_to 'New article', new_article_path, class: "link" %>
  <% else %>
    <%= link_to 'Login', login_path, class: "link"  %>
    <%= link_to 'Sign up', signup_path, class: "link"  %>
  <% end %>
  <%= link_to 'Blog', articles_path, class: "link" %>
  <%= link_to 'About', about_path, class: "link"  %>
  <%= link_to 'Home', root_path, class: "link"  %>
  <%= link_to "See all users", users_path, class: "link"  %>
  <% if logged_in? %>
    <div class="dropdown">
      <button class="dropbtn">Profile
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <%= link_to 'Edit your profile', edit_user_path(current_user), class: "link"  %>
        <%= link_to 'View your profile', user_path(current_user), class: "link"  %>
        <%= link_to 'Blog', articles_path, class: "link"  %>
      </div>
    </div>
  <% end %>
</div>